# dependencies
/node_modules

# testing
/coverage
/test-results
/playwright-report
/blob-report
/playwright/.cache

# next.js
/.next/
/out/
/build
next-env.d.ts
*.tsbuildinfo

# misc
.DS_Store
*.pem

# debug
npm-debug.log*

# env files (an example lives in .env.example)
.env
.env*.local

# vercel
.vercel
